html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
  color: #58a3de;
  min-height: 100vh;
  min-width: 320px; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus, a:active {
    text-decoration: none; }

.container {
  max-width: 850px;
  margin: 0 auto; }

.site-title {
  font-size: 18px;
  font-weight: 700;
  color: #58a3de;
  text-transform: uppercase;
  position: relative; }
  .site-title:after {
    display: block;
    width: 182px;
    height: 1px;
    background-color: #f8c562;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%); }

.assistive-title {
  position: absolute !important;
  left: 0;
  top: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.preview {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;
  color: #ffffff; }
  .preview .preview__content {
    flex: 1 1 auto;
    padding: 50px 0;
    background: #2c2c2c; }
  .preview .preview__header {
    font-size: 2em;
    line-height: 1.5em;
    line-height: inherit;
    padding: 30px 0;
    color: inherit;
    background-color: #58a3de; }
  .preview .preview__footer {
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 20px 0;
    color: inherit;
    background-color: #58a3de; }
  .preview .preview__pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch; }
  .preview .preview__page {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    overflow: hidden; }
    .preview .preview__page:nth-of-type(3n) {
      margin-right: 0; }
  .preview .preview__page-image {
    display: block;
    height: 300px;
    overflow: hidden; }
  .preview .preview__page-title {
    padding: 20px;
    background: #58a3de;
    font-size: 1.2em;
    line-height: 1.2em;
    color: #ffffff;
    text-decoration: none; }

.main-slider .main-slider__item-link {
  display: block;
  height: 340px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

/*# sourceMappingURL=screen.css.map */